/* Write your code here. */
.bg {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #ffffff;
  font-family: "bree serif";
  font-weight: bold;
  text-align: center;
}
.buttons-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.btn1 {
  color: #ffffff;
  background-color: #eab308;
  font-family: "roboto";
  border-radius: 12px;
  padding: 10px;
}
.btn2 {
  color: #323f4b;
  background-color: #ffffff;
}
.btn3 {
  color: #ffffff;
  background-color: #1d4ed8;
  font-family: "roboto";
  border-radius: 12px;
  padding: 10px;
}
